.example-spacer {
    flex: 1 1 auto;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.mat-toolbar {
    background: none;
    color: rgba(0, 0, 0, .87);
    position: fixed;
}