.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.contact {
    background-color: #dcdbe1;
    height: calc(100vh - 160px);
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
}

.contact-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-content p {
    font-size: 18px;
    margin-bottom: 40px;
}